@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --Montserrat: 'Montserrat', sans-serif;
    --Poppins: 'Poppins', sans-serif;
    --Ubuntu: 'Ubuntu', sans-serif;
}

@font-face {
    font-family: Bontang;
    src: url(font/Bontang.otf);
}

@font-face {
    font-family: Esco;
    src: url(font/Escopedia\ Black.otf);
}

@font-face {
    font-family: PBlack;
    src: url(font/Palette\ Black.ttf);
}

@font-face {
    font-family: PBold;
    src: url(font/Palette\ Bold.ttf);
}

@font-face {
    font-family: PReg;
    src: url(font/Palette\ Regular.ttf);
}

@font-face {
    font-family: PLight;
    src: url(font/Palette\ Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
}

.main{
    width: 100vw;
    background-color: #141414;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page1{
    width: 100%;
    height: 100vh;
    background-color: #181818;
}

.page1>nav{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

.page1>nav>.logo{
    display: flex;
    gap: 3px;
}

.page1>nav>.logo>.box{
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    background-color: #FBFBFB;
    transition: .7s;
}

.page1>nav>.logo:hover>.box:nth-child(2){
    transform: rotate(90deg);
}

.page1>nav a{
    text-decoration: none;
    color: #C8C8C8;
    font-family: var(--Poppins);
    text-transform: uppercase;
    line-height: .9;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: .9vw;
    transition: .5s;
}

.page1>nav a:hover{
    color: #fff;
}

.page1>nav>a>i{
    font-size: 1.6vw;
    font-weight: 800;
}


.page1>.hero{
    width: 100%;
    height: 90%;
    /* background-color: rgb(0, 0, 98); */
}

.page1>.hero>.up{
    width: 100%;
    height: 50%;
    /* background-color: #6e3232; */
    position: relative;
    padding: 20vh 3vw;
}

.page1>.hero>.up>.text{
    width: 100%;
    position: relative;
    display: flex;
    margin-left: 52%;
    margin-bottom: 4px;
}

.page1>.hero>.up>.text>a{
    text-decoration: none   ;
    font-family: var(--Poppins);
    font-size: .9vw;
    font-weight: 600;
    line-height: 1;
    color: #C8C8C8;
    width: 43.7%;
}

.page1>.hero>.up hr{
    border: 1.5px solid #C8C8C8;
    margin-bottom: 5px;
}

.page1>.hero>.up>#second{
    width: 45%;
    position: absolute;
    left: 52%;
}

.page1>.hero>.up>h1{
    font-family: PReg;
    letter-spacing: 10px;
    color: #FBFBFB;
    font-size: 10vw;
    font-weight: 500;
}

.page1>.hero>.down{
    width: 100%;
    height: 50%;
    /* background-color: #303030; */
}

.page1>.hero>.down>.up{
    width: 100%;
    height: 80%;
    /* background-color: #937676; */
    display: flex;
    justify-content: space-between;
    padding: 0 3vw;
}

.page1>.hero>.down>.up>.box{
    width: 45%;
    height: 100%;
    /* background-color: #C8C8C8; */
    display: flex;
    flex-direction: column;
    padding: 15vh 0vw;
    gap: 20px;
}

.page1>.hero>.down>.up>.box>.top{
    display: flex;
    justify-content: space-between;
    border-left: 3px solid #C8C8C8;
    border-bottom: 3px solid #C8C8C8;
    padding: 0vh 2vw;
    align-items: center;
}

.page1>.hero>.down>.up>.box>.top>h2{
    color: #C8C8C8;
    font-family: var(--Poppins);
    font-weight: 600;
    font-size: 3vw;
}

.page1>.hero>.down>.up>.box>.top>h3{
    color: #C8C8C8;
    font-family: PBold;
    font-weight: 600;
    font-size: 1.1vw;
    letter-spacing: 1px;
    line-height: 0;
}

.page1>.hero>.down>.up>.box>p{
    width: 100%;
    color: #5B5B5B;
    font-family: var(--Poppins);
    font-size: .895vw;
    white-space: nowrap;
    font-weight: 600;
    line-height: 1.3;
}

.page1>.hero>.down>.down{
    width: 100%;
    height: 20%;
    /* background: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1>.hero>.down>.down>.box{
    width: 95%;
    background-color: #DE2E2D;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    border-radius: 50px;
}

.page1>.hero>.down>.down>.box>.left>h4{
    color: #181818;
    font-family: var(--Poppins);
    font-weight: 700;
    font-size: .9vw;
    line-height: 0;
}

.page1>.hero>.down>.down>.box>.left>h4>i{
    font-size: .7vw;
    margin-left: -2px;
}

.page1>.hero>.down>.down>.box>a{
    text-decoration: none;
    color: #181818;
    font-size: 1.5vw;
    line-height: 0;
}






.page2{
    width: 100%;
    height: 125vh;
    background-color: #F4F4F4;
}

.page2>.top{
    width: 100%;
    height: 27%;
    /* background-color: #b8b8b8; */
    padding: 7vh 3vw;
}

.page2>.top>p{
    font-size: 2vw;
    font-family: var(--Poppins);
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 500;
    color: #181818;
    transition: 1s;
}

.page2>.top>p>#underline{
    text-decoration: underline;
}

.page2>.top>p>#text{
    color: #858585;
}

.page2>.center{
    width: 100%;
    height: 48%;
    /* background-color: #f77d7d; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page2>.center>.box{
    width: 97%;
    height: 17%;
    /* background-color: #5c5c5c; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #e2e2e2;
    transition: 1s;
}

.page2>.center>.box:nth-child(2){
    height: 28%;
}

.page2>.center>.box>.left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.page2>.center>.box>.left>h3{
    font-family: var(--Poppins);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2vw;
    color: #181818;
}

.page2>.center>.box>.right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.page2>.center>.box>.right>h3{
    font-family: var(--Poppins);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2vw;
    color: #181818;
}

.page2>.center>.box>.right>.button>button{
    background-color: transparent;
    border: 1px solid #A5A5A5;
    border-radius: 50px;
    padding: 0vh .8vw;
    transition: .7s;
}

.page2>.center>.box>.right>.button>button>a{
    text-decoration: none;
    font-family: var(--Poppins);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1vw;
    color: #A5A5A5;
    transition: .7s;
}

.page2>.center>.box>.right>.button>button:hover{
    border: 1px solid #181818;
}

.page2>.center>.box>.right>.button>button:hover>a{
    color: #181818;
}

.page2>.center>.box:nth-child(2)>.right>.up>.button>button:hover{
    border: 1px solid #181818;
}

.page2>.center>.box:nth-child(2)>.right>.up>.button>button:hover>a{
    color: #181818;
}

.page2>.center>.box:nth-child(2)>.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 2vw;
}

.page2>.center>.box:nth-child(2)>.right>.up{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.page2>.center>.box:nth-child(2)>.right>.up>h3{
    font-family: var(--Poppins);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2vw;
    color: #181818;
}

.page2>.center>.box>.right>.up>.button>button{
    background-color: transparent;
    border: 1px solid #A5A5A5;
    border-radius: 50px;
    padding: 0vh .8vw;
    transition: .7s;
}

.page2>.center>.box>.right>.up>.button>button>a{
    text-decoration: none;
    font-family: var(--Poppins);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1vw;
    color: #A5A5A5;
    transition: .7s;
}

.page2>.center>.box>.right>.down{
    width: 100%;
    height: 50%;
}

.page2>.center>.box>.right>.down>p{
    font-family: var(--Poppins);
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8vw;
    color: #464646;
}

.page2>.center>.box:nth-child(4){
    border-bottom: 2px solid #e2e2e2;
}

.page2>.bottom{
    width: 100%;
    height: 24%;
    /* background-color: #da2020; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.page2>.bottom>.box{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #f4f4f4;
    border: 2px solid #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.page2>.bottom>.box:hover{
    background-color: #181818;
}

.page2>.bottom>.box:hover>a{
    color: #f4f4f4;
}

.page2>.bottom>.box>a{
    text-decoration: none;
    color: #181818;
    font-size: .9vw;
    font-family: var(--Poppins);
    text-transform: uppercase;
    font-weight: 600;
}

.page2>.bottom>p{
    font-family: PBold;
    font-size: .8vw;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 1px;
    transition: 1s;
}





.page3{
    width: 100%;
    height: 110vh;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page3>.top{
    width: 98%;
    height: 40%;
    /* background-color: pink; */
    display: flex;
    transition: 1s;
}

.page3>.top>.left{
    width: 50%;
    height: 100%;
    /* background: #666666; */
    padding: 15vh 1vw;
}

.page3>.top>.left>button{
    padding: 0vh 1vw;
    background-color: transparent;
    border: 2px solid #C8C8C8;
    border-radius: 50px;
    margin-left: -4px;
    transition: .5s;
}

.page3>.top>.left>button>a{
    text-decoration: none;
    color: #C8C8C8;
    font-family: var(--Poppins);
    font-weight: 600;
    font-size: 1.2vw;
    transition: .5s;
}

.page3>.top>.left>button:nth-child(1)>a{
    color: transparent;
}

.page3>.top>.left>button:hover{
    border: 2px solid #fff;
}

.page3>.top>.left>button:nth-child(2)>a{
    color: #fff;
}



.page3>.top>.right{
    width: 50%;
    height: 100%;
    /* background: #333333; */
    padding: 15vh 1vw;
}

.page3>.top>.right>p{
    font-size: 2vw;
    font-family: var(--Poppins);
    font-weight: 500;
    line-height: 1.2;
    color: #FAFAFA;
    letter-spacing: -.5px;
}

.page3>.top>.right>p>#underline{
    text-decoration: underline;
}

.page3>.top>.right>p>#text{
    color: #7F7F7F;
}



.page3>.center{
    width: 98%;
    height: 50%;
    /* background-color: rgb(154, 154, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
}

.swiper {
    width: 100%;
    height: 70%;
  }

  .swiper-slide {
    border-radius: 20px;
    /* background: #a1a1a1; */
    overflow: hidden;
    border: 2px solid #2d2d2d;
    transition: 1s;
  }

.swiper-slide>.top{
    cursor: pointer;
    width: 100%;
    height: 75%;
    /* background-color: #4d2929; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6vh 2vw;
    gap: 30px;
    border-bottom: 2px solid #2d2d2d;
    transition: 1s;
}

.swiper-slide>.top>.up{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.swiper-slide>.top>.up>.box{
    width: 50px;
    height: 50px;
    /* background-color: blue; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C8C8C8;
    transition: .7s;
}

.swiper-slide>.top>.up>.box>a{
    text-decoration: none;
}

.swiper-slide>.top>.up>.box>a>i{
    font-size: 1.4vw;
    color: #C8C8C8;
    transition: .7s;
}

.swiper-slide>.top>.up>.box:hover>a>i{
    color: #fff;
}

.swiper-slide>.top>.up>.box:hover{
    border: 1px solid #fff;
}

.swiper-slide>.top>.up>h3{
    font-family: var(--Poppins);
    color: #FAFAFA;
    font-size: 1.4vw;
    font-weight: 600;
    transition: .7s;
}


.swiper-slide>.top>p{
    width: 100%;
    height: 60%;
    font-family: var(--Poppins);
    color: #5B5B5B;
    font-size: .7vw;
    font-weight: 600;
}

.swiper-slide>.top>p>#underline{
    color: #C8C8C8;
    text-decoration: underline;
}

.swiper-slide>.bottom{
    width: 100%;
    height: 25%;
    /* background-color: #c75d5d; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide>.bottom>a{
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    transition: .7s;
}

.swiper-slide>.bottom>a:hover>h3{
    text-decoration: underline;
}

.swiper-slide>.bottom>a>h3{
    font-family: var(--Poppins);
    color: #DE2E2D;
    font-size: 1vw;
    font-weight: 700;
    letter-spacing: -.5px;
    transition: 1s;
}

.swiper-slide>.bottom>a>i{
    font-size: 1.5vw;
    color: #C8C8C8;
    transition: .7s;
}


.swiper-slide:hover{
    border: 2px solid #fff;
}

.swiper-slide:hover>.top{
    border-bottom: 2px solid #fff;
}

.swiper-slide:hover>.top>.up>.box{
    background-color: #fff;
}

.swiper-slide:hover>.top>.up>.box>a>i{
    color: #181818;
}

.swiper-slide:hover>.top>.up>h3{
    text-decoration: underline;
}

.swiper-slide:hover>.bottom>a>i{
    color: #DE2E2D;
}


.page3>.bottom{
    width: 95%;
    height: 10%;
    /* background-color: rgb(158, 2, 28); */
    border-top: 2px solid #464646;
}

.page3>.bottom>h3{
    color: #494949;
    font-family: var(--Poppins);
    font-size: 1vw;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1vh 0;
    transition: 1s;    
}

.page3>.bottom>h3>i{
    color: #464646;
}








.page4{
    width: 100%;
    height: 100vh;
    background-color: #181818;
    background-image: radial-gradient(#46464661 1.3px, #18181869 1.3px);
    background-size: 25px 25px;
}

.page4>.container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page4>.container>.box{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(imgs/house4.png);
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: center 50px;
    z-index: 99;
    transition: .2s;
}

.page4>.container>.box>img{
    position: absolute;
    width: 25%;
    left: 26%;
    top: 5%;
    transition: 1s;
}

.page4>.container>.box>img:nth-child(2){
    width: 15%;
    left: 55%;
    top: 35%;
}

.page4>.container>.left{
    width: 50%;
    height: 100%;
    /* background-color: pink; */
    padding: 18vh 7vw;
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

.page4>.container>.left>h3{
    font-size: 6vw;
    line-height: 1;
    font-family: Bontang;
    letter-spacing: 6px;
    color: #FEFEFE;
    z-index: 0;
    transition: 1S;
}

.page4>.container>.left>button{
    padding: 2vh 3vw;
    width: 40%;
    background-color: transparent;
    border: 2px solid #E79049;
    border-radius: 50px;
    z-index: 99;
    transition: 1s;
}

.page4>.container>.left>button:hover{
    background-color: #E79049;
}

.page4>.container>.left>button:hover>a{
    color: #181818;
}

.page4>.container>.left>button>a{
    text-decoration: none;
    color: #E79049;
    font-family: Bontang;
    letter-spacing: 2px;
    font-size: 1.5vw;
    font-weight: 900;
    transition: 1s;
}

.page4>.container>.left>h3>span{
    color: #E79049;
}

.page4>.container>.right{
    width: 50%;
    height: 100%;
    /* background-color: salmon; */
    position: relative;
}

.page4>.container>.right>img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%;
    mix-blend-mode: color-burn;
    animation: Rotate 15s infinite linear;
}

@keyframes Rotate {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.page4>.container>.right>.text{
    width: 150px;
    height: 150px;
    background-color: #E79049;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.page4>.container>.right>.text>h3{
    font-size: 1.5vw;
    line-height: 1;
    font-family: var(--Ubuntu);
    letter-spacing: 6px;
    color: #FEFEFE;
}

/* .page5{
    width: 100%;
    height: 200vh;
    background-color: #563333;
} */